.partners{
	padding-top: 100px;
	padding-bottom: 105px;
	background: #4269a5 url('../img/bg_partners.jpg') center no-repeat;
	background-size: cover;
	&__title {
		font-size: 30px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.06em;
		text-align: center;
	}
	&__content{
		margin: 95px auto 0;
		@media (max-width: $lg) {
			margin: 40px auto 0;
		}
	}
	@media (max-width: $lg) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.content-partners{
	max-width: 590px;
	&__list {		
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $sm) {
			justify-content: space-around;
		}
		@media (max-width: $xs) {
			flex-wrap: wrap;
		}
	}	
	&__item{
		@media (max-width: $xs) {
			margin: 25px;
		}
	}
}
