@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');



$text-colors-themes: (
	light: #fff,
	dark: #000
);

$gray-text: #888;
$dark-gray-text: #333;
$nav-hover: #ada074;
$filter-hover: #ada074;
$border-icon: #eee;
$bg-gray: #f3f3f3;

$lg: 1400px;
$md: 1199px;
$sm: 767px;
$xs: 480px;
$xxs: 320px;






@import 'main.scss';
@import 'first-screen.scss';
@import 'nav.scss';
@import 'about.scss';
@import 'portfolio.scss';
@import 'partners.scss';